body{
font-family:Arial;
margin:0;
background:#0B1220;
color:white;
}

.container{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

header{
background:#020617;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(#0B1220,#1E293B);
}

.hero h1{
font-size:50px;
margin-bottom:20px;
}

.btn{
background:#2563EB;
padding:12px 25px;
border-radius:6px;
color:white;
text-decoration:none;
display:inline-block;
margin-top:20px;
}

.platforms,
.solutions{
padding:80px 10%;
text-align:center;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:40px;
}

.card{
background:#1E293B;
padding:30px;
border-radius:10px;
width:250px;
}

.card h3{
margin-top:0;
}

.about{
padding:80px 20%;
text-align:center;
background:#111827;
line-height:1.6;
}

.cta{
padding:80px;
text-align:center;
background:linear-gradient(#1E293B,#2563EB);
}

footer{
text-align:center;
padding:30px;
background:#020617;
}