body{
font-family:Arial, sans-serif;
margin:0;
background:#0B1220;
color:white;
}

header{
background:#020617;
}

.container{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo{
height:40px;
}

.brand{
font-size:18px;
font-weight:bold;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

nav a:hover

/* HERO */

.hero{
display:flex;
justify-content:center;
align-items:center;
background:#020617;
padding:20px 0;
}

.hero img{
display:block;
margin:auto;
width:100%;
max-width:1100px;
height:auto;
border-radius:10px;
}

/* SECTIONS */

.platforms,
.solutions{
padding:60px 10%;
text-align:center;
}

.platforms h2,
.solutions h2{
font-size:32px;
margin-bottom:10px;
}

/* CARDS */

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:40px;
}

.card{
background:#1E293B;
padding:25px;
border-radius:10px;
width:260px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
background:#263548;
}

.cloud-icon{
height: 80px;
margin: 20px;
}

/* ABOUT */

.about{
padding:60px 15%;
text-align:center;
background:#111827;
line-height:1.7;
}

/* CTA */

.cta{
padding:70px;
text-align:center;
background:linear-gradient(#1E293B,#2563EB);
}

.btn{
background:white;
color:#2563EB;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
font-weight:bold;
}

.btn:hover

/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#020617;
}

/* MOBILE */

@media (max-width:900px){

.cards{
flex-direction:column;
align-items:center;
}

.about{
padding:50px 10%;
}

/* V4U Meaning Section */

.v4u-meaning{
background:#071a2f;
padding:40px 10%;
}

.v4u-container{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

.v4u-box{
display:flex;
align-items:center;
gap:20px;
color:white;
}

.v-letter{
font-size:50px;
color:#14b8a6;
margin:0;
font-weight:bold;
}

.v4u-text h3{
margin:0;
font-size:18px;
}

.v4u-text p{
margin:4px 0 0 0;
font-size:14px;
color:#9ca3af;
}
}
