/* Global */

body{
font-family: Arial, sans-serif;
margin:0;
background:#0B1220;
color:white;
}

/* Header */

header{
background:#020617;
}

.container{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

.logo{
height:50px;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
font-size:16px;
}

nav a:hover{
color:#3B82F6;
}

/* Banner */

.hero-banner{
width:100%;
display:flex;
justify-content:center;
align-items:center;
background:#020617;
padding:40px 0;
}

.hero-banner img{
width:100%;
max-width:1100px;
height:auto;
}


/* Hero Content */

.hero-content{
text-align:center;
margin:20px auto;
padding:10px 20px;
max-width:800px;
}


.hero-content h1{
font-size:42px;
margin-bottom:15px;
}

.hero-content p{
font-size:18px;
color:#cbd5f5;
}

/* Button */

.btn{
background:#2563EB;
padding:12px 25px;
border-radius:6px;
color:white;
text-decoration:none;
display:inline-block;
margin-top:20px;
transition:0.3s;
}

.btn:hover{
background:#1d4ed8;
}

/* Platforms & Solutions */

.platforms,
.solutions{
padding:80px 10%;
text-align:center;
}

.platforms h2,
.solutions h2{
font-size:32px;
margin-bottom:20px;
}

/* Cards */

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:40px;
}

.card{
background:#1E293B;
padding:30px;
border-radius:10px;
width:260px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
background:#263548;
}

.card h3{
margin-top:0;
margin-bottom:10px;
}

.card p{
color:#cbd5f5;
}

/* About */

.about{
padding:60px 12%;
text-align:center;
background:#111827;
line-height:1.7;
}

.about h2{
font-size:32px;
margin-bottom:20px;
}

/* CTA */

.cta{
padding:80px;
text-align:center;
background:linear-gradient(#1E293B,#2563EB);
}

.cta h2{
font-size:30px;
}

/* Footer */

footer{
text-align:center;
padding:30px;
background:#020617;
color:#cbd5f5;
}

/* Responsive */

@media (max-width:900px){

.cards{
flex-direction:column;
align-items:center;
}

.about{
padding:60px 10%;
}

.hero-content h1{
font-size:32px;
}

}